.credentials-update {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  .credentials-update-fields {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 36px;
    min-height: 400px;
  }
  .credential-update-btn {
    height: 61px;
    border-radius: 50px;
    background-color: #2b78ff;
    color: #fff;
    font-size: 15px;
    &:hover {
      transition: 0.4s ease-in;
      box-shadow: #2b78ffc2 0px 7px 20px 0px;
    }
    @media screen and (max-width: 500px) {
      height: 50px;
    }
  }
}
.upload-image-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  gap: 1rem;
  .domain-field-input {
    width: 100%;
    height: 64px;
    border: 1px solid #d0d5dd;
    border-radius: 50px;
    padding: 16px 38px;
    font-size: 15px;
    @media screen and (max-width: 500px) {
      height: 50px;
      font-size: 12px;
      padding: 0 18px;
    }
  }
  .image-container {
    min-width: 90px;
    width: 100px;
    height: 90px;
    border-radius: 50%;
    border: 1px dashed #d0d5dd;
    .default-avatar {
      object-fit: cover;
      width: 100%;
      background: rgba(255, 255, 255, 0.657);
      height: 100%;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      color: rgba(0, 0, 0, 0.715);
    }
  }
}
