.navbar {
  width: 100%;
  height: 74px;
  padding: 25px 36px;
  background: #fafafa;
  box-shadow: 0px 4px 16px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  @media screen and (max-width: 600px) {
    padding:20px 10px;
  }
  .navbar-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    .navbar-left-menu-icon {
      cursor: pointer;
      display: none;
    }
    
    .navbar-left-menu-icon-collapse {
      cursor: pointer;
    }
    
    .navbar-left-title {
      font-size: 20px;
      font-weight: 400;
      line-height: 27px;
      color: #777998;
      text-transform: uppercase;
      @media screen and (max-width: 450px) {
          display: none;
        }
    }
  }

  .navbar-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
    gap: 22px;
  }

  @media only screen and (max-width: 1320px) {
    .navbar-left {
      .navbar-left-menu-icon {
        display: block;
      }

      .navbar-left-menu-icon-collapse {
        display: none;
      }
    }
  }
}

.navbar-flag-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;

  .navbar-flag {
    width: 22px;
  }
}
.user-avatar {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(20, 134, 205);
  border-style: dashed;
  border-radius: 50%;
}
.navbar-dropdown-cursor {
  cursor: pointer;
}
.navbar-account-info{
  p{
    color: rgba(0, 0, 0, 0.846);
  }
}

.dropdown-navigation-btn{
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 10px;
}