.forget-password {
  @media screen and (max-width: 550px) {
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  p {
    span {
      cursor: pointer;
      font-weight: 600;
      font-size: 18px;
      color: #0078ff;
    }

    font-size: 18px;
    font-weight: 400;
    @media screen and (max-width: 550px) {
      font-size: 10px;
    }
  }
}
