.role-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  .role-data{
    display: flex;
    flex-direction: column;
    gap: 65px;
  }
}
