.ant-select-selector {
  margin-top: 5px;
  height: 59.9px;
}
// .ant-select-selection-overflow {
//   gap: 10px;
// }
// .modal-field-label {
//   font-size: 15px;
//   min-width: 80px;
//   font-weight: 500;
// }
.ant-select-selection-overflow-item {
  border-radius: 10px;
  background: #ffffff;
}
.ant-select-selection-item{
  background-color: #fff !important;
}
.ant-select-selection-overflow-item-suffix {
  opacity: 0 !important;
}
.ant-select-selection-item-content{
  margin-inline-end: -2px !important;
}
.modal-field {
  .error-message {
    margin-top: 11px;
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 0, 0, 0.863);
    padding-left: 10px;
  }
}
